.counter {
  margin-right: 6px;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  padding: 9px;
  gap: 9px;
}

.listItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  cursor: pointer;
}
