.section {
  max-width: 600px;
  width: 100%;
}

.list {
  overflow: hidden;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  width: 8px;
}
.list::-webkit-scrollbar-track {
  background: #2F2F37;
}
.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.listBorder {

}

.item {

}

.dragIcon {

}

.orderResultContainer {

}

.priceSum {

}

.currencyIcon {

}
